@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-primario: #fff5e0;
  --color-secundario: #0e1c4f;
  --color-enfasis: #ff6b6b;
}

body {
  background-color: var(--color-primario);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-secundario);
}

.header__titulo {
  color: var(--color-enfasis);
  font-size: 1.2rem;
}

.nav__contenedor {
  width: 30%;
}

.nav__lista {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--color-enfasis);
}

.nav__link {
  font-size: 1.1rem;
  color: var(--color-enfasis);
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: var(--color-primario);
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100dvh;
}

.main__informacion {
  display: flex !important;
  align-items: center;
  gap: 10px !important;
}

.main_width {
  width: 60% !important;
}

.main_min_width {
  display: flex;
  align-items: center;
  width: 40% !important;
  margin: auto;
  padding: 3.4rem !important;
}

.main__division {
  width: 3px;
  height: 80%;
  background-color: #0e1c4f;
  position: absolute;
  left: 50%;
  top: 20%;
}

.division_left {
  left: 60% !important;
  top: 13.5% !important;
  height: 90dvh !important;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: var(--color-secundario);

}

.footer_copy {
  color: var(--color-enfasis);
}

.main__flex {
  display: flex;
  align-items: center;
  gap: 15px;
}

.img_bloque {
  width: 12%;
}

.main__iframes {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sketchfab-embed-wrapper {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.button_ir {
  background-color: var(--color-secundario);
  color: var(--color-primario);
  padding: .5rem;
  border-radius: 15px;
  margin: auto;
}

iframe {
  border-radius: 5px;
  box-shadow: 5px 7px 8px -6px rgba(0,0,0,0.5);
-webkit-box-shadow: 5px 7px 8px -6px rgba(0,0,0,0.5);
-moz-box-shadow: 5px 7px 8px -6px rgba(0,0,0,0.5);
}