@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-primario: #fff5e0;
  --color-secundario: #0e1c4f;
  --color-enfasis: #ff6b6b;
}

body {
  background-color: var(--color-primario);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-secundario);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__titulo {
  color: var(--color-enfasis);
  font-size: 1.2rem;
}

.nav__contenedor {
  width: 30%;
}

.nav__lista {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--color-enfasis);
}

.nav__link {
  font-size: 1.1rem;
  color: var(--color-enfasis);
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: var(--color-primario);
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100dvh;
}

.main__informacion {
  max-height: 90vh;
  margin-top: 20px;
  display: flex !important;
  align-items: center;
  gap: 10px !important;
}

.main__cuerpo {
  width: 50%;
  display: flex;
  justify-content: center;
}

.main__informacion {
  width: 50%;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main_width {
  width: 60% !important;
}

.main_min_width {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40% !important;
  height: 90vh;
  max-height: 90vh;
  margin: auto;
  padding: 3.4rem !important;
}

.main__division {
  width: 3px;
  height: 80%;
  background-color: #0e1c4f;
  position: absolute;
  left: 50%;
  top: 20%;
}

.main__subtitle {
  position: absolute;
  top: 16%;
}

.division_left {
  left: 60% !important;
  top: 13.5% !important;
  height: 90dvh !important;
}

.main__p {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: var(--color-secundario);
}

.footer_copy {
  color: var(--color-enfasis);
}

.main__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.main__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.img_bloque {
  width: 12%;
}

.width_20 {
  width: 20% !important;
}
.width_90 {
  width: 20% !important;
  margin: auto !important;
}

.main__iframes {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sketchfab-embed-wrapper {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.button_ir {
  background-color: var(--color-secundario);
  color: var(--color-primario);
  padding: 0.5rem;
  border-radius: 15px;
  margin: auto;
}

iframe {
  border-radius: 5px;
  box-shadow: 5px 7px 8px -6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 7px 8px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 7px 8px -6px rgba(0, 0, 0, 0.5);
}

.main__evolution {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("../media/backgrounds/evolucion-bg.jpg") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90dvh !important;
}

.img__evolution {
  width: 300px;
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 7px 8px -6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 7px 8px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 7px 8px -6px rgba(0, 0, 0, 0.5);
}

.img__evolution-zoom {
  position: fixed;
  width: 700px !important;
  height: 600px;
  left: 22%;
  top: 1%;
}

.display-none {
  display: none !important;
}

.arrow {
  width: 70px;
  transition: all 0.2s;
  cursor: pointer;
}

.arrow:hover {
  scale: 1.2;
}

.evolution__text {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  width: 450px;
}

.close__icon {
  position: fixed;
  top: 3%;
  right: 24%;
  transition: all 0.3s;
  cursor: pointer;
}

.close__icon:hover {
  scale: 1.1;
}

.main__video {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  width: 90%;
}

@media only screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 50px;
  }

  .main__informacion {
    width: 100% !important;
    border-top: 1px solid var(--color-secundario);
    text-align: center;
    padding: 10px !important;
  }

  .header__titulo {
    display: none;
  }

  .nav__contenedor {
    width: 100%;
  }

  .nav__lista {
    width: 100%;
  }

  .main__division {
    display: none;
  }

  /* Page Evolution */

  .main__evolution {
    height: 100dvh !important;
    margin-bottom: 0px !important;
  }

  .img__evolution {
    width: 100%;
  }

  .img__evolution-zoom {
    top: 25%;
    left: 13%;
    width: 300px !important;
    height: 270px !important;
  }

  .evolution__text {
    width: 300px;
    font-size: 1.2rem;
  }

  .close__icon {
    top: 27%;
    right: 20%;
  }

  /* Video Page */

  .reproductor {
    width: 500px !important;
    height: 300px;
  }

  /* Body Page */

  .main_width {
    margin-top: 15px;
    margin-bottom: 250px;
  }

  .main__subtitle {
    display: none;
  }

  .main__flex {
    flex-direction: column;
  }

  .main__dvh {
    height: 200dvh !important;
  }
}

@media (max-width: 375px) {
  .reproductor {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px !important;
    height: 200px;
  }

  .img__evolution-zoom {
    top: 25%;
    left: 9%;
    width: 300px !important;
    height: 270px !important;
  }

  .close__icon {
    top: 27%;
    right: 15%;
  }
}

@media (max-width: 320px) {
  main {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 100px;
  }

  .img__evolution-zoom {
    top: 25%;
    left: 12%;
    width: 250px !important;
    height: 270px !important;
  }

  .reproductor {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px !important;
    height: 200px;
  }

  .main__dvh {
    height: 250dvh !important;
  }

  .main_width {
    margin-top: 15px;
    margin-bottom: 550px;
  }
}

.bento__container {
  width: 90%;
  margin: auto;
}

.bento {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.flex--col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.flex--row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.bento__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(0, 51, 102);
  background: linear-gradient(
    159deg,
    rgba(0, 51, 102, 1) 0%,
    rgba(15, 82, 186, 1) 100%
  );
  border-radius: 10px;
  box-shadow: 5px 7px 8px -6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 7px 8px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 7px 8px -6px rgba(0, 0, 0, 0.5);
}

.bento__col--1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 250px;
}

.bento__col--2 {
  width: 220px;
  height: 210px;
}

.bento__col--3 {
  width: 220px;
  height: 310px;
}

.bento__col--4 {
  width: 220px;
  height: 150px;
}

.bento__col--5 {
  width: 220px;
  height: 470px;
}

.bg--foto {
  background-image: linear-gradient(
      rgba(74, 73, 76, 0.082),
      rgba(78, 39, 220, 0.285)
    ),
    url(../media/imgs/josediaz_foto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.text--white {
  color: white;
  text-align: center;
}

.text--purple {
  color: rgb(206, 158, 206);
}

.bento__tec {
  width: 80%;
  margin: auto;
}

.bento__logo {
  width: 40%;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .bento {
    flex-direction: column;
  }

  .flex--row {
    flex-direction: column;
  }

  .bento__col--1 {
    width: 90%;
    margin-top: 15px;
  }
}
